.item {
    padding: 50px;
}

@media (min-width: 500px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .outerItem {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .outerItem {
        width: 30%;
    }
}