.box {
    margin: 40px;
    padding: 10px;
    border: solid 3px black;
}

#div1 {
    background-color: lightgreen;
}

#div2 {
    background-color: lightsalmon;
}

#div3 {
    background-color: lightcyan;
}