div {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: azure;
    margin: 30px;
    padding: 20px;
}

.one {
    transform: scale(2,2);
    /* height: 200px;
    width: 200px; */
}

.two {
    transform: rotateZ(10deg);
}

.three {
    transform: translateX(50px) translateY(40px);
}

.four {
    transform: rotate(45deg) translateX(100px);
}

.five {
    transform: skewX(-48deg) skewY(40deg) skewX(40deg) skewY(-40deg);
}
 
.six {
    transform: skew(10deg, 10deg) rotate(35deg);
}

