div.x {
    border: solid 1px black;
    margin: 10px;
}

div.y {
    border: solid 1px black;
    padding: 10px;
}

div.z {
    margin-top: 10px;
    margin-bottom: 10px;
}

.outer {
    background-color: bisque;
}

.middle {
    background-color: pink;
}

.inner {
    background-color: azure;
}